<form enctype="multipart/form-data" method="POST" action="/handleUpload" name="imageupload">
    {{!-- <input type="file" multiple required accept="image/*" name="imageupload"> --}}
    <input type="file" multiple required accept="*/" name="imageupload">

    <button type="submit"> Upload</button>
</form>