<style>
  ul { background-color: rgb(33, 19, 226); !important }
</style>
<ul class="adminNav">
  <li class="adminLi"><a href="/show">Show</a></li>
  <li class="adminLi"><a href="/gender">Gender</a></li>
  <li class="adminLi"><a href="/sort">Sort</a></li>
</ul>