<form action="/handleForm" method="GET" name="fields" class="register">
    <label> Login: <input type="text"> </label>
    <label> Hasło: <input type="password"> </label>


    {{!-- <option value="title">title</option>
    <option value="authors">authors</option>
    <option value="Lang">Lang</option> --}}
    </select>
    <button type="submit"> Submit</button>
</form>