/* nav {
    background-color: blue;
} */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#fileManager {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}
table {
  border-spacing: 0px;
}
form {
  margin: 50px;
}
a {
  color: rgb(87, 85, 85);
}
th {
  background-color: rgb(21, 140, 219);
}
td {
  padding: 20px;
}
img {
  width: 50px;
  height: 50px;
}
.register {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(66, 66, 255);
}

li {
  float: left;
  margin: 20px;
  text-decoration: underline;
}

li a {
  text-decoration: underline;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
h2 {
  display: inline;
}
