/* nav {
    background-color: blue;
} */
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.register{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-content: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(66, 66, 255);
  }
  
  li {
    float: left;
    margin: 20px;
    text-decoration: underline;

    
  }
  
  li a {
    text-decoration: underline;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }